html {
    background-color:#48937e;
    width: 100vw;
    min-width: 100%;
    height: 100vh;
    min-height: 100%;
    overflow-x: hidden;

}

body {
    margin: 50px 100px 50px 100px;
    background-color: black;
    height: 3000px;
    overflow-x: hidden;
    border-style: solid;
    border-width: 5px;
    border-color: #96D406;
    border-radius: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: Verdana;   
    font-size: 85px;
    line-height: 0;
    padding-top: 20px;
}

#subtitle {
    text-align: center;
    color: white;
    font-family: Verdana;
    font-size: 30px;
    font-style: italic;
    line-height: 0;
}

.caption {
    color: white;
    font-family: Verdana;
    font-size: 15px;
    font-style: italic;
}

#popLength {
    position: absolute;
    top: 2150px;
    left: 250px;
    text-anchor: middle;
}

#artists {
    position: absolute;
    top: 1100px;
    left: 250px;
    text-anchor: middle;
}

#scatterplots {
    position: absolute;
    top: 300px;
    left: 0px;
    width: 1150px;
    text-anchor: middle;
}

#songInfo {
    position: absolute;
    top: 175px;
    left: 950px;
    margin: 0;
}

.tooltip {
    padding: 5px;
    text-align: center;
    background: #48937e;
    color: #ccf656;
    font-family: Verdana;
    font-size: 12px;
    width: 250px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

#genres {
    position: absolute;
    top: 0px;
    left: 1000px;
    background: black;
    color: white;
    font-family: Verdana;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
